<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <h2>Hola {{res}}</h2>
        <!-- <h2>Tu pass es {{pass}}</h2> -->
        <label for="user">User</label>
        <input type="text" id="user" name="user">
    </div>
    <div>
        <label for="passwd">Password</label>
        <input type="password" id="passwd" name="passwd">
    </div>
    <div>
        <button>Enviar</button>
    </div>
</body>
</html>